.poll-bar {
    width: 100%;
    height: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    background-color: #cccccc;
}

.poll-bar-progress {
    background-color: #3b73af;
    height: 1em;
}

.poll-container {
    width: 20em;
}

.vote-option {
    margin-bottom: 0.4em;
    margin-left: 0.2em;
}

.option-name,
.vote-option-name {
    word-wrap: break-word;
}

.vote-option-name {
    margin-left: 1em;
}

.poll-votes {
    float: right;
}

.poll-votes-percents {
    font-weight: bold;
}

.vote-poll-footer {
    margin-top: 0.4em;
    position: relative;
}

.vote-poll-footer-item {
    margin-left: 1em;
}

.total-votes {
    float: right;
}

.answer-submitting-indicator {
    display: none;
    position: absolute;
    background-image: url(images/throbber.gif);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 25px;
    padding-left: 20px;
}

.cancel-voting.disabled {
    cursor: default;
    -moz-opacity: .5;
    -ms-opacity: .5;
    -o-opacity: .5;
    -webkit-opacity: .5;
    opacity: .5;
}

.add-option {
    margin-top: 0 !important;
}